@model LivroCDF.Models.Livro

@{
    ViewData["Title"] = "Cadastrar Livro";
}

<h2>@ViewData["Title"]</h2>

<h4>Dados do Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" placeholder="Ex: Dom Casmurro" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Valor" class="control-label">Preço de Capa (Padrão)</label>
                <input asp-for="Valor" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}