html {
    font-size: 14px;
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

header {
    flex-shrink: 0;
}

.container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bg-gradient-clientes {
    background: linear-gradient(135deg, #198754 0%, #20c997 100%);
}

.bg-gradient-livros {
    background: linear-gradient(135deg, #0d6efd 0%, #0dcaf0 100%);
}

.bg-gradient-estoque {
    background: linear-gradient(135deg, #fd7e14 0%, #ffc107 100%);
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.50;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
    transition: background-color 0.2s ease-in-out;
}
