@inject SignInManager<Usuario> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="card border-0 shadow-sm mb-3">
    <div class="card-body p-2">
        <ul class="nav nav-pills flex-column gap-1">
            <li class="nav-item">
                <a class="nav-link px-3 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                    <i class="bi bi-person-badge me-2"></i> Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                    <i class="bi bi-envelope me-2"></i> Email
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                    <i class="bi bi-shield-lock me-2"></i> Senha
                </a>
            </li>
            @if (hasExternalLogins)
            {
                <li class="nav-item">
                    <a class="nav-link px-3 @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">
                        <i class="bi bi-box-arrow-in-right me-2"></i> Logins Externos
                    </a>
                </li>
            }
        </ul>
    </div>
</div>